{% load static %}

<section class="content-section padding">
    <div class="container">
      <div class="row content-wrap">
        <div class="col-lg-6 sm-padding wow fadeInLeft" data-wow-delay="100ms">
          <img
            class="box-shadow"
            class="box-shadow"
            src="{% static 'indico/img/content-1.jpg' %}"
            alt="img"
          />
        </div>
        <div class="col-lg-6 sm-padding">
          <div class="content-info wow fadeInRight" data-wow-delay="300ms">
            <span>Explore The Features</span>
            <h2>Offering the most complete integrated package!</h2>
            <p>
              We are committed to building a sustainable future by fostering a
              collaborative spirit that creates exceptional experiences, balanced
              relationships, and community built environment. Building isn’t just
              job. It's our passion. With every project we undertake, we set the
              bar high and provide the best industry.
            </p>
            <a href="#" class="default-btn">Get Free Quote</a>
          </div>
        </div>
      </div>
    </div>
  </section>