{% load static %}

<link rel="shortcut icon" type="image/x-icon" href="{% static 'indico/img/favicon.png' %}" />

<link rel="stylesheet" href="{% static 'indico/css/fontawesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/themify-icons.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/elegant-line-icons.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/elegant-font-icons.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/flaticon.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/animate.min.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/slick.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/slider.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/odometer.min.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/venobox/venobox.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/owl.carousel.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'indico/css/responsive.css' %}" />
