{% load static %}

<script src="{% static 'indico/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>

<script
  data-cfasync="false"
  src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"
></script>
<script src="{% static 'indico/js/vendor/jquery-1.12.4.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/bootstrap.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/tether.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/headroom.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/owl.carousel.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/smooth-scroll.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/venobox.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/jquery.ajaxchimp.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/slick.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/waypoints.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/odometer.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/wow.min.js' %}"></script>

<script src="{% static 'indico/js/main.js' %}"></script>


<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'indico/js/vendor/jquery-1.12.4.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/bootstrap.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/tether.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/headroom.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/owl.carousel.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/smooth-scroll.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/venobox.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/jquery.ajaxchimp.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/slick.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/waypoints.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/odometer.min.js' %}"></script>

<script src="{% static 'indico/js/vendor/wow.min.js' %}"></script>

<script src="{% static 'indico/js/main.js' %}"></script>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static ' indico/js/vendor/jquery-1.12.4.min.js' %}"></script>

<script src="{% static ' indico/js/vendor/bootstrap.min.js' %}"></script>

<script src="{% static ' indico/js/vendor/tether.min.js' %}"></script>

<script src="{% static ' indico/js/vendor/headroom.min.js' %}"></script>

<script src="{% static ' indico/js/vendor/owl.carousel.min.js' %}"></script>

<script src="{% static ' indico/js/vendor/smooth-scroll.min.js' %}"></script>

<script src="{% static ' indico/js/vendor/venobox.min.js' %}"></script>

<script src="{% static ' indico/js/vendor/jquery.ajaxchimp.min.js' %}"></script>

<script src="{% static ' indico/js/vendor/slick.min.js' %}"></script>

<script src="{% static ' indico/js/vendor/waypoints.min.js' %}"></script>

<script src="{% static ' indico/js/vendor/odometer.min.js' %}"></script>

<script src="{% static ' indico/js/vendor/wow.min.js' %}"></script>

<script src="{% static ' indico/js/main.js' %}"></script>