{% load static %}

<section class="projects-section padding">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-8 col-md-6">
          <div class="section-heading mb-40">
            <span>Projects</span>
            <h2>Discover the most fascinating <br />projects for our clients</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-right">
          <a href="#" class="default-btn">View All Projects</a>
        </div>
      </div>
      <div
        id="projects-carousel"
        class="projects-carousel box-shadow owl-carousel"
      >
        <div class="project-item">
          <img src="{% static 'indico/img/project-1.jpg' %}" alt="projects" />
          <div class="overlay"></div>
          <a
            href="{% static 'indico/img/project-1.jpg' %}"
            class="view-icon img-popup"
            data-gall="project"
          >
            <i class="fas fa-expand"></i
          ></a>
          <div class="projects-content">
            <a href="#" class="category">Interior</a>
            <h3>
              <a href="#" class="tittle">Rectangular house near italy</a>
            </h3>
          </div>
        </div>
        <div class="project-item">
          <img src="{% static 'indico/img/project-2.jpg' %}" alt="projects" />
          <div class="overlay"></div>
          <a
            href="{% static 'indico/img/project-2.jpg' %}"
            class="view-icon img-popup"
            data-gall="project"
          >
            <i class="fas fa-expand"></i
          ></a>
          <div class="projects-content">
            <a href="#" class="category">Architecture</a>
            <h3>
              <a href="#" class="tittle">Cathedral of brasilia brasilia</a>
            </h3>
          </div>
        </div>
        <div class="project-item">
          <img src="{% static 'indico/img/project-3.jpg' %}" alt="projects" />
          <div class="overlay"></div>
          <a
            href="{% static 'indico/img/project-3.jpg' %}"
            class="view-icon img-popup"
            data-gall="project"
          >
            <i class="fas fa-expand"></i
          ></a>
          <div class="projects-content">
            <a href="#" class="category">Design</a>
            <h3>
              <a href="#" class="tittle">Harpa concert hall reykjavik</a>
            </h3>
          </div>
        </div>
        <div class="project-item">
          <img src="{% static 'indico/img/project-4.jpg' %}" alt="projects" />
          <div class="overlay"></div>
          <a
            href="{% static 'indico/img/project-4.jpg' %}"
            class="view-icon img-popup"
            data-gall="project"
          >
            <i class="fas fa-expand"></i
          ></a>
          <div class="projects-content">
            <a href="#" class="category">Architecture</a>
            <h3><a href="#" class="tittle">Milwauke museum wisconsin</a></h3>
          </div>
        </div>
        <div class="project-item">
          <img src="{% static 'indico/img/project-5.jpg' %}" alt="projects" />
          <div class="overlay"></div>
          <a
            href="{% static 'indico/img/project-5.jpg' %}"
            class="view-icon img-popup"
            data-gall="project"
          >
            <i class="fas fa-expand"></i
          ></a>
          <div class="projects-content">
            <a href="#" class="category">Design</a>
            <h3><a href="#" class="tittle">The dancing house prague</a></h3>
          </div>
        </div>
      </div>
    </div>
  </section>