{% load static %}


      <div id="sponsor-carousel" class="sponsor-carousel owl-carousel">
        <div class="sponsor-item">
          <img src="{% static 'indico/img/sponsor1.png' %}" alt="sponsor" />
        </div>
        <div class="sponsor-item">
          <img src="{% static 'indico/img/sponsor2.png' %}" alt="sponsor" />
        </div>
        <div class="sponsor-item">
          <img src="{% static 'indico/img/sponsor3.png' %}" alt="sponsor" />
        </div>
        <div class="sponsor-item">
          <img src="{% static 'indico/img/sponsor4.png' %}" alt="sponsor" />
        </div>
        <div class="sponsor-item">
          <img src="{% static 'indico/img/sponsor5.png' %}" alt="sponsor" />
        </div>
        <div class="sponsor-item">
          <img src="{% static 'indico/img/sponsor6.png' %}" alt="sponsor" />
        </div>
        <div class="sponsor-item">
          <img src="{% static 'indico/img/sponsor7.png' %}" alt="sponsor" />
        </div>
        <div class="sponsor-item">
          <img src="{% static 'indico/img/sponsor8.png' %}" alt="sponsor" />
        </div>
      </div>
    