{% load static %}

<section class="work-pro-section padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 sm-padding">
          <div class="work-pro-item text-center">
            <span class="number">1</span>
            <div class="number-line"></div>
            <h3>Planning & Research</h3>
            <p>
              We are committed building a sustainable future fostering a
              collaborative spirit.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 sm-padding">
          <div class="work-pro-item text-center">
            <span class="number">2</span>
            <div class="number-line"></div>
            <h3>Design & Ideas</h3>
            <p>
              We are committed building a sustainable future fostering a
              collaborative spirit.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 sm-padding">
          <div class="work-pro-item text-center">
            <span class="number">3</span>
            <div class="number-line"></div>
            <h3>Specialized Projects</h3>
            <p>
              We are committed building a sustainable future fostering a
              collaborative spirit.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 sm-padding">
          <div class="work-pro-item text-center">
            <span class="number">4</span>
            <h3>Final Outputs</h3>
            <p>
              We are committed building a sustainable future fostering a
              collaborative spirit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>